USE [master]
GO
/****** Object:  Database [QUANLY_KHOHANG]    Script Date: 2/19/2025 6:40:16 PM ******/
CREATE DATABASE [QUANLY_KHOHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLY_KHOHANG', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLY_KHOHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLY_KHOHANG_log', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLY_KHOHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLY_KHOHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLY_KHOHANG]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/19/2025 6:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nchar](150) NULL,
	[Address] [nchar](150) NULL,
	[Phone] [nchar](150) NULL,
	[Email] [nchar](150) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/19/2025 6:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeesID] [nchar](10) NOT NULL,
	[Name] [nchar](250) NULL,
	[Birthday] [smalldatetime] NULL,
	[JoinDate] [smalldatetime] NULL,
	[Address] [nchar](150) NULL,
	[Phone] [nchar](150) NULL,
	[Email] [nchar](150) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2/19/2025 6:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ProductID] [int] NOT NULL,
	[ProductType] [nchar](250) NULL,
	[Name] [nchar](250) NULL,
	[Brand] [nchar](150) NULL,
	[MadeIn] [nchar](150) NULL,
	[Price] [money] NULL,
	[ProductTypeID] [int] NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 2/19/2025 6:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management](
	[IOputID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeesID] [nchar](10) NULL,
	[ProductID] [int] NULL,
	[DateofReceipt] [smalldatetime] NULL,
	[ShippingDate] [smalldatetime] NULL,
	[PurchasePrice] [money] NULL,
	[SellingPrice] [money] NULL,
 CONSTRAINT [PK_Management] PRIMARY KEY CLUSTERED 
(
	[IOputID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypeList]    Script Date: 2/19/2025 6:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypeList](
	[ProductTypeID] [int] NOT NULL,
	[Name] [nchar](250) NULL,
 CONSTRAINT [PK_ProductTypeList] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/19/2025 6:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nchar](150) NOT NULL,
	[password] [nchar](150) NULL,
	[displayname] [nchar](150) NULL,
	[gender] [bit] NULL,
	[email] [nchar](150) NULL,
	[address] [nchar](150) NULL,
	[phone] [nchar](150) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_ProductTypeList] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypeList] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_ProductTypeList]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Management_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Management_Customers]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Management_Employees] FOREIGN KEY([EmployeesID])
REFERENCES [dbo].[Employees] ([EmployeesID])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Management_Employees]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Management_Inventory] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Inventory] ([ProductID])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Management_Inventory]
GO
USE [master]
GO
